<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
      <div class="location">
        <div class="locality">
         Faq
        </div>
      </div>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
    <div class="page_info">
        <h2>FAQ</h2>
  
    <div class="container">

      <button class="accordion">How do I register?</button>
<div class="panel">
  <p>You can register by clicking on the "Sign In" section located at the top right corner on the home page. Please provide the required information in the form that appears and click on submit. We will send a one-time password (OTP) to verify your mobile number. Post verification, you can start shopping on My town Market.</p>
</div>

<button class="accordion">Do I need to register before shopping on My town Market?</button>
<div class="panel">
  <p>Yes, you do need to register before shopping with us. However, you can browse the website without registration. You are required to login or register while you checkout.      </p>
</div>

<button class="accordion">Can I register multiple times using the same phone number/email ID?</button>
<div class="panel">
  <p>Each email ID/login ID and mobile number can only be associated with one customer account.</p>
</div>
</div>




</div>

<div class="footer">
      
  <div class="text-4 mt-4">
    About us
  </div>
  <div class="free-text">My Town Market is a service that encourages its users to shop in store by
    presenting them with some irresistable and amazing deals online. This platform is 
    a hyper local marketplace where local shops can create their ads which they can choose
    to either run in their local area or other areas. We have deals in a lot of different categores
    some of which include Groceries, Meat, Food, Clothing. My Town Market also lists
    deals in the service industry like Appliance Repair, Plumbers, Carpenters,
    AC Service & Repair, Salon for Men & Women, etc.
  </div>

  <div class="text-4 mt-4" >
    Avialble Cities & Localities
  </div>
  <div class="free-text">Warangal - Mills Colony, Labour Colony, Christian Colony</div>

  </div>
</ion-content>
