<ion-header class="bg_transparent">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
    <div class="content">
        <div class="text-4 mt-4 text-c" *ngIf="entitiesList.length > 0">
            {{ listType }}
        </div>
        <div class="d-list" *ngIf="entitiesList.length > 0">
            <!-- <div class="d-item" (click)="goToListDetails(item)" *ngFor="let item of entitiesList">
                <div class="text-v">{{ item.name }}</div>
                <div class="text-k">Villages - 28</div>
            </div> -->
            <ion-item class="item" *ngFor="let item of entitiesList">
                <ion-label>
                    <h2 style="font-weight: bold">{{ item.name }}</h2>
                    <div class="text-k">Villages - 28</div>
                </ion-label>
            </ion-item>
        </div>
    </div>


    <!-- <div *ngIf="listType=== 'hospitals'">
        <div class="text-3 mt-4">
            {{ listType }}
        </div>
        <ion-item class="item" (click)="goToShop(store)" *ngFor="let store of hospitals">
            <ion-avatar slot="start">
                <img [src]="store.image" class="crop_img" />
            </ion-avatar>
            <ion-label>
                <h2 style="font-weight: bold">{{ store.name }}</h2>
                <h3>{{ store.type }} - {{ store.streetaddress }} {{ store.affiliation }}</h3>
            </ion-label>
            <span class="optns" *ngIf="store.isdelivery">Delivery</span>
            <span class="optns" *ngIf="store.iscurbsidepickup">Pickup</span>
        </ion-item>
    </div> -->

    <div style="height: 400px; background-color: #999; margin-top: 60px">
        <div class="content">
            <div style="padding-top: 30px">All Rights Reserved 2021</div>
        </div>
    </div>
</ion-content>